<main>
    <section class="promo">
        <div class="container">
            <h1 class="promo__title">
                Ваши желанные рецепты
            </h1>
            <span class="promo__under-title">
                Закажите пиццу через сайт <br>
                и получите скидку 15%
            </span>
        </div>
    </section>

    <section class="why">
        <div class="container">
            <h2 class="why__header animated fadeInUpBefore" data-animation="fadeInUp">Почему мы?</h2>

            <ul class="why__list">
                <li class="why__item">
                    <img src="img/tasty.svg" alt="Вкусная еда" class="why__item-icon animated fadeInUpBefore"
                        data-animation="fadeInUp" width="60" height="60">
                    <span class="why__item-text animated fadeInUpBefore" data-animation="fadeInUp">Вкусная еда</span>
                </li>

                <li class="why__item">
                    <img src="img/natural.svg" alt="Натуральные ингредиенты"
                        class="why__item-icon animated fadeInUpBefore" data-animation="fadeInUp" width="60" height="60">
                    <span class="why__item-text animated fadeInUpBefore" data-animation="fadeInUp">Натуральные
                        ингредиенты</span>
                </li>

                <li class="why__item">
                    <img src="img/delivery.svg" alt="Быстрая доставка" class="why__item-icon animated fadeInUpBefore"
                        data-animation="fadeInUp" width="60" height="60">
                    <span class="why__item-text animated fadeInUpBefore" data-animation="fadeInUp">Быстрая
                        доставка</span>
                </li>
            </ul>
        </div>
    </section>

    <section class="menu">
        <div class="container">
            <h2 class="menu__header animated fadeInUpBefore" data-animation="fadeInUp">Наше меню</h2>

            <ul class="menu__list">
                <li class="menu__item animated fadeInUpBefore" data-animation="fadeInUp">
                    <img src="img/margarita.jpg" alt="Маргарита" class="menu__item-image" width="303" height="263">
                    <span class="menu__item-title">Маргарита</span>
                    <button class="menu__item-buy menu__item-buy--margarita">Купить</button>
                </li>

                <li class="menu__item animated fadeInUpBefore" data-animation="fadeInUp">
                    <img src="img/hawaiian.jpg" alt="Гавайская" class="menu__item-image" width="303" height="263">
                    <span class="menu__item-title">Гавайская</span>
                    <button class="menu__item-buy menu__item-buy--hawaiin">Купить</button>
                </li>

                <li class="menu__item animated fadeInUpBefore" data-animation="fadeInUp">
                    <img src="img/mexican.jpg" alt="Мексиканская" class="menu__item-image" width="303" height="263">
                    <span class="menu__item-title">Мексиканская</span>
                    <button class="menu__item-buy menu__item-buy--mexican">Купить</button>
                </li>
            </ul>
        </div>
    </section>

    <section class="delivery">
        <div class="container">
            <h2 class="delivery__header animated fadeInUpBefore" data-animation="fadeInUp">Доставка</h2>

            <div class="delivery__wrapper">
                <div class="delivery__text animated fadeInLeftBefore" data-animation="fadeInLeft">
                    <p class="delivery__text-item">
                        Доставка осуществляется в течении 45 минут с момента заказа. Когда заказ принят в обработку,
                        вам придёт SMS с подтверждением.
                    </p>
                    <p class="delivery__text-item">Если пицца не будет доставлена вовремя, то пицца в чеке будет
                        бесплатна</p>
                </div>

                <img src="img/delivery-image.png" alt="Доставка" class="delivery__image animated fadeInUpBefore"
                    data-animation="fadeInUp" width="300" height="262">
            </div>
        </div>
    </section>

    <section class="reviews">
        <div class="container">
            <h2 class="reviews__header">Отзывы</h2>

            <div class="reviews__slider">
                <div class="reviews__slider-item">
                    <h3 class="reviews__name">Александр</h3>
                    <p class="reviews__text">
                        Доставили пиццу вовремя, она даже ещё тёплой была, хотя на улице -20. Было очень вкусно,
                        спасибо! Обязательно буду
                        заказывать у вас ещё! Доставили пиццу вовремя, она даже ещё тёплой была, хотя на улице -20. Было
                        очень вкусно, спасибо!
                        Обязательно буду заказывать у вас ещё! Доставили пиццу вовремя, она даже ещё тёплой была, хотя
                        на улице -20. Было очень
                        вкусно, спасибо! Обязательно буду заказывать у вас ещё! Доставили пиццу вовремя, она даже ещё
                        тёплой была, хотя на улице
                        -20. Было очень вкусно, спасибо! Обязательно буду заказывать у вас ещё!
                    </p>
                </div>

                <div class="reviews__slider-item">
                    <h3 class="reviews__name">Андрей</h3>
                    <p class="reviews__text">
                        Доставили пиццу вовремя, она даже ещё тёплой была, хотя на улице -20. Было очень вкусно,
                        спасибо! Обязательно буду
                        заказывать у вас ещё! Доставили пиццу вовремя, она даже ещё тёплой была, хотя на улице -20. Было
                        очень вкусно, спасибо!
                        Обязательно буду заказывать у вас ещё! Доставили пиццу вовремя, она даже ещё тёплой была, хотя
                        на улице -20. Было очень
                        вкусно, спасибо! Обязательно буду заказывать у вас ещё! Доставили пиццу вовремя, она даже ещё
                        тёплой была, хотя на улице
                        -20. Было очень вкусно, спасибо! Обязательно буду заказывать у вас ещё!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="order">
        <div class="container">
            <h2 class="order__header animated fadeInUpBefore" data-animation="fadeInUp">Заказать пиццу</h2>
            <span class="order__note animated fadeInUpBefore" data-animation="fadeInUp">Чтобы выбрать пиццу, нажмите
                "Купить" в меню в карточке с желаемой пиццей</span>

            <form action="#" method="post" class="order__form">
                <div class="order__error hidden">Выделенные поля не могут быть пустыми</div>
                <input type="text" name="name" class="order__input animated fadeInLeftBefore"
                    data-animation="fadeInLeft" placeholder="Ваше имя">
                <input type="tel" name="phone" class="order__input animated fadeInRightBefore"
                    data-animation="fadeInRight" placeholder="Ваш номер телефона">
                <input type="text" name="pizza" tabindex="-1"
                    class="order__input order__input--pizza animated fadeInLeftBefore" data-animation="fadeInLeft"
                    readonly placeholder="Желаемая пицца">

                <input type="submit" value="Заказать" class="order__submit animated fadeInRightBefore"
                    data-animation="fadeInRight">
            </form>
        </div>
    </section>
</main>